.cont-osimliklarda  div .img-10{
    display: none;
}

.cont-osimliklarda .ac-10 .left-img{
    width: 800px;
}
.cont-osimliklarda .ac-10 .right-img{
    display: none;
}
.cont-osimliklarda .ac-10 button{
    display: none;
}