

.tufelka-container .pages-title > h1 {
    left: 170px !important;
}

.tufelka-container .orqaga {
    left: 270px !important;
}

.accordion-item video{
    display: none;
}

.tufelka-container .ac-7 .result-img{
    display: none;
}

.ac-7 video{
    display: block;
}    


/* ? */
.tufelka-container .side-bar{
    position: absolute;
    left: 0px !important;
}